body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.title {
    text-align: center;
    margin-top: 20px;
}

.profile-image {
    display: block;
    margin: 20px auto;
    border: 2px solid #333;
    border-radius: 50%;
}

/* 업로드 버튼 스타일 */
#uploadButton {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center; /* 텍스트를 가운데 정렬 */
}

/* 파일 선택 상자 스타일 */
#fileInput {
    display: block;
    margin: 0 auto;
    text-align: center; /* 텍스트를 가운데 정렬 */
}

.sign-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

.form-control {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}